body{
    margin: 20px;
    text-align:center;
    background-color:aqua;
}
#number{
    margin:10px;
    font-size: 5em ;
    padding:5px;
    border:5px solid red;
}
button{
    margin:20px;
    width:20%;
    height:50px;
    font-size: 2em;
    color:blue;
    background-color: orange;
}
button:hover{
    background-color: aliceblue;
}